/* Reset some default browser styling for tables */

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
    border: 2px solid #ddd;
    border-radius: 10px;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}


.red-text{
    background-color: #dd4343;
}


th {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

td {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}


tr:nth-child(even) {
    background-color: azure;
}


td img{
    width: 50px;
    height: 50px;
}

td .return-btn {
    height: 30px;
    border-radius: 20px;
    background-color: grey;
    white-space: nowrap; 
    text-align: center;
    border: none;
    width: 100px;
}

td .return-btn:hover{
    background-color: green;
}

td input[type="checkbox"]{
        width: 20px;
        height: 20px;
}

.disable_text{
    pointer-events: none;
}
